<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar Component</title>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
  </head>
  <body class="demo-body">
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-pill"><a class="nav-link" href="#">Our Honey</a></li>
        <li class="nav-pill"><a class="nav-link" href="#">Trace Honey</a></li>
        <li class="nav-pill nav-pill--shop">
          <a class="nav-link" href="#">
            <img
              class="nav-logo"
              src="../assets/imgs/logo.png"
              alt="Bee logo"
            />
            <span>SHOP</span>
          </a>
        </li>
        <li class="nav-pill"><a class="nav-link" href="#">Facilities</a></li>
        <li class="nav-pill"><a class="nav-link" href="#">Contacts</a></li>
      </ul>
    </nav>
  </body>
</html>
