<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Card Component</title>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/card.css" />
  </head>
  <body class="demo-body">
    <div class="product-card card">
      <img
        class="product-img"
        src="../assets/imgs/honey.jpg"
        alt="100% Bio Honey"
      />
      <div class="product-info">
        <div class="product-row">
          <div class="product-title-group">
            <span class="product-title">100% Bio Honey</span>
          </div>
          <span class="product-price">7$/kg</span>
        </div>
        <span class="product-subtitle">Italian, not treated</span>
        <button class="btn product-btn">Add to cart</button>
      </div>
    </div>
  </body>
</html>
